@media (min-width: 1000px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 1000px) {
  .hidden--mobile {
    display: none;
  }

}
@media (min-width: 1000px) {
nav {
display: flex;
align-items: center;
flex-direction: column;
padding: 1rem;
}
nav > ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #b08b6a;
border-radius: 30px
}
nav > ul > li {
float: left;
}
nav > ul > li:hover {
background-color: #71719a;
}
nav > ul > li a {
display: block;
color: #ced2d6;
text-align: center;
padding: 1rem;
text-decoration: none;
}
}

body{background: whitesmoke ;}

.background {background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg");
  overflow: hidden;
  background-size: cover;
  width: 100vw;
  height: 95vh;
}

.starinfo {background: whitesmoke;
display: flex;
justify-content: center;
text-align: center;
width: fit-content;
width: auto;
align-items:center;
}
table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.bioDiv {
  display: flex;
  flex-direction: column;
  margin: 2em;
  justify-content: center;
  background-color: whitesmoke;

}
.bioposition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px;
}

.bioText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.signupheading {
font-size: medium;
max-width: 80%;
margin-left: 10;
}
